%h1 Lightning Talks for Codemash 2012

%ul.proposals
  -@submitted_proposals.each do |proposal|
    %li.proposal=proposal.topic

=form_for @new_proposal do |form|
  =form.label :name, "Name"
  =form.text_field :name
  =form.label :email_address, "Email Address"
  =form.text_field :email_address
  =form.label :twitter_handle, "Twitter Handle"
  =form.text_field :twitter_handle
  =form.label :topic, "Topic"
  =form.text_area :topic
  =form.submit "Submit my lightning talk"
