.sidebar
  float: right
  width: 30%
  header
    font-size: 1.1em
    img
      float: right
      margin-left: 5px
  section
    clear: both
    li
      margin-bottom: 5px


.proposals
  width: 50%
  .proposal
    header
      font-size: 1.2em
    .topic
      margin-left: 10px
    border-bottom: 1px dashed #FF7F00
    margin-bottom: 20px
    padding-bottom: 10px


.new_proposal_form
  width: 400px
  padding: 5px 10px
  border: 1px dashed #FF7F00
  .field #proposal_topic
    height: 40px

