.proposals
  width: 50%
  .proposal
    header
      font-size: 1.2em
    .topic
      margin-left: 10px
    border-bottom: 1px dashed #FF7F00
    margin-bottom: 20px
    padding-bottom: 10px


.new_proposal_form
  width: 400px
  padding: 5px 10px
  border: 1px dashed #FF7F00
  .field
    #proposal_topic
      height: 40px
    &.required
      label:after
        color: red
        content: "*"
    .field_with_errors
      display: inline
      input, textarea
        background: #900
        color: white


